In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../data/2011-2022 회계의견코드.csv', encoding='cp949')
df

                      회사명   거래소코드     회계년도 감사의견코드
0              (유)그룹세브코리아   13171  2019/12    NaN
1              (유)그룹세브코리아   13171  2020/12     UQ
2              (유)그룹세브코리아   13171  2021/12     UQ
3              (유)그룹세브코리아   13171  2022/12     UQ
4       (유)디에스브이에어앤씨인터내셔널  104275  2021/12    NaN
...                   ...     ...      ...    ...
294815           힐중공업주식회사   82007  2017/12     QS
294816           힐중공업주식회사   82007  2018/12     QU
294817          （주）신미코스메틱   85105  2017/12    NaN
294818          （주）신미코스메틱   85105  2018/12     UQ
294819          （주）신미코스메틱   85105  2019/12     UQ

[294820 rows x 4 columns]

In [7]:
df = df[df['감사의견코드'] != 'UQ']

                                회사명   거래소코드     회계년도 감사의견코드
0                        (유)그룹세브코리아   13171  2019/12    NaN
4                 (유)디에스브이에어앤씨인터내셔널  104275  2021/12    NaN
9                       (유)스태츠칩팩코리아   26825  2019/12    NaN
13                 (유)아웃백스테이크하우스코리아   41907  2019/12    NaN
63      (주)NHF5호공공임대개발전문위탁관리부동산투자회사   76921  2015/12    NaN
...                             ...     ...      ...    ...
294813                     힐링홈스주식회사   84799  2018/12     QS
294814                     힐중공업주식회사   82007  2016/12    NaN
294815                     힐중공업주식회사   82007  2017/12     QS
294816                     힐중공업주식회사   82007  2018/12     QU
294817                    （주）신미코스메틱   85105  2017/12    NaN

[55040 rows x 4 columns]

In [9]:
df = pd.read_csv('../data/설립일포함.csv', encoding='cp949')
df

,회사명,거래소코드,회계년도,산업코드,산업명,설립일,상장일,기업규모코드,감사의견코드
0,(주)KAL호텔네트워크,29255,2012/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
1,(주)KAL호텔네트워크,29255,2013/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
2,(주)KAL호텔네트워크,29255,2014/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
3,(주)KAL호텔네트워크,29255,2015/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
4,(주)KAL호텔네트워크,29255,2016/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
...,...,...,...,...,...,...,...,...,...
294068,힐티코리아주식회사,10534,2018/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,30.0,UQ
294069,힐티코리아주식회사,10534,2019/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,30.0,UQ
294070,힐티코리아주식회사,10534,2020/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,30.0,UQ
294071,힐티코리아주식회사,10534,2021/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,20.0,UQ
294072,힐티코리아주식회사,10534,2022/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,30.0,UQ

In [10]:
# df.to_csv('설립일포함.csv', index=False)

In [11]:
df = pd.read_csv('./설립일포함.csv')
df

,회사명,거래소코드,회계년도,산업코드,산업명,설립일,상장일,기업규모코드,감사의견코드
0,(주)KAL호텔네트워크,29255,2012/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
1,(주)KAL호텔네트워크,29255,2013/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
2,(주)KAL호텔네트워크,29255,2014/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
3,(주)KAL호텔네트워크,29255,2015/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
4,(주)KAL호텔네트워크,29255,2016/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
...,...,...,...,...,...,...,...,...,...
294068,힐티코리아주식회사,10534,2018/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,30.0,UQ
294069,힐티코리아주식회사,10534,2019/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,30.0,UQ
294070,힐티코리아주식회사,10534,2020/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,30.0,UQ
294071,힐티코리아주식회사,10534,2021/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,20.0,UQ
294072,힐티코리아주식회사,10534,2022/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,30.0,UQ